---
layout: default
class: home
---

<!-- opening-header -->
<header id="top-opening">

  <div id="logo" class="fix-top-left">
    {% include svg/logo.svg %}
  </div><!-- logo -->

  <div class="row">
    <div class="opening-special">
      <!-- <a href="./vacancies" class="button hiring space-relative">
        we're hiring!
      </a> -->
    </div>
    <hgroup id="slogan">
      <span id="slogan-firstword">Right</span>
      <div id="words">
        <noscript>People Place Time</noscript>
      </div>
    </hgroup>
  </div>
  {% include svg/top-plx-container.svg %}
</header>

<section id="slide-1" class="row slide" data-scroll-dur="1800">
  <h2 class="slide-text medium-8 column shadow-left" data-300-center="transform: translate(50px,0); opacity:0" data-100-center="transform: translate(0px,0); opacity:1">Companies <span class="marked">spend</span> most of their money on <span class="marked">people</span></h2>
  {% include svg/people-money.svg %}
</section>

<section id="slide-2" class="row slide" data-scroll-offset="30">
  <div class="slide-col medium-6 small-6 column counter" data-200-center="transform: translate(0,-100px); opacity:0" data--20-center="transform: translate(0,0px); opacity:1">
    <div class="slide-visual">
      <span id="counter-1" class="count-up longshadow" data-center-center data-emit-events></span><span class="count-up longshadow"><noscript>93</noscript>%</span>
    </div>
    <p class="slide-text">
    Of CEO&rsquo;s recognised
    <br/>that they need a
    <br/>better people strategy
    </p>
  </div>

  <div class="slide-col medium-6 small-6 column counter" data-180-center="transform: translate(0,100px); opacity:0" data--0-center="transform: translate(0,0px); opacity:1">
    <div class="slide-visual">
      <span id="counter-2" class="count-up longshadow" data-center-center data-emit-events></span><span class="count-up longshadow"><noscript>15</noscript>%</span>
    </div>
    <p class="slide-text">
    Of them thinks that
    <br/>HR has the tools to
    <br/>accomplish this task
    </p>
  </div>
</section>

<section id="slide-3" class="row slide">
  <h2 class="slide-text medium-12 column shadow-right">
    Vita.IO allows you to <span class="marked">identify</span>, <br/><span class="marked">develop</span> and <span class="marked">manage</span> people <br/>based on two factors:
  </h2>
</section>
<section id="slide-4" class="row slide">
  <div class="medium-6 small-6 slide-col column">
    {% include svg/knowledge-experience.svg %}
    <h1 class="slide-head medium-12 column longshadow">Knowledge & <br/>Experience</h1>
    <p class="slide-text">The things you have <br/><strong>been taught to do</strong></p>
  </div>
  <div class="medium-6 small-6 slide-col column">
    {% include svg/drive-motivation.svg %}
    <h1 class="slide-head medium-12 column longshadow">Drive & <br/>Motivation</h1>
    <p class="slide-text">The things you <br/><strong>really want to do</strong></p>
  </div>
</section>
<section id="slide-5" class="row slide">
<h1 class="slide-head medium-12 column">We believe in “People first”</h1>
  {% include svg/people-matrix.svg %}
<div class="medium-6 column slide-text">

  <p class="slide-text smalltext alignleft"> Which means the right people, in the right place at the
right moment in time.<br/><br/><strong>The right people</strong> are people with the right combination of
drive & motivation and knowledge & experience. <br/><br/><strong>The right place</strong> is a place where they are
enabled to do what they do best. <br/><br/><strong>The right
moment</strong> in time is when that employee is performing the job that is aligned to the
business strategy. <br/><br/><strong>This combination creates value for business and
creates happy people that love their job.</strong>
  </p>
</div>
</section>
<section id="slide-6" class="row slide" data-scroll-offset="100">
  <h1 class="slide-head medium-12 column">Let's bring science to HR!</h1>
  {% include svg/science-hr.svg %}

  <p class="slide-text medium-6 column smalltext alignleft">
    Basically we are teaching our computers something we teach our children in elementary school. <br/><strong>Reading comprehension</strong>.</br></br>By analysing communication patterns, Vita.io can analyse peoples behavior.
  </p>
  <p class="slide-text medium-6 column smalltext alignleft">
    Our algorithms return a combination of different factors such as the topic, sentiment, network activity and other factors.</br></br>These sets of data help us </br><strong>deliver the analytics you need.</strong>
  </p>
</section>

<section id="pdf-download" class="row">
   <h4 class="slide-head">Start creating your winning team.</h4>
  <form id="download-press" action="http://vita.us4.list-manage.com/subscribe/post" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="hidden" name="u" value="4572eec4bd5fb12cbfca69651">
    <input type="hidden" name="id" value="54d4b62cba">
    <span class="button-group large-9 medium-12 small-12">
      <input type="text" name="EMAIL" id="EMAIL" placeholder="enter your email to" class="button-group-element large-7 medium-8 small-6" required />
      <button id="email-btn" type="submit" class="button-group-element button secondary checkInput large-5 medium-4 small-6">
        <span id="subscribe">subscribe</span>
        <span id="email-error" class="hidden">Please provide a valid email</span>
      </button>
    </span>
  </form>
  <h4 class="slide-foot">and receive more information<h4/>
</section>
