<footer id="sitefooter" data-250-end="background-position:100% -10%;" data-end="background-position:100% 100%;">
  <div class="row" data-150-end="opacity:0;" data-end="opacity:1;">
    <header id="footer-head" class="medium-5 columns">Get in touch</header>
    <section id="contact-info" class="medium-7 columns">
      <div id="contact" class="large-6 small-6 columns">
        <span class="listing">Tel. <a href="callto:{{site.contact.phone}}" id="telephone"><s>available soon</s></span></a>
        <span class="listing">Email. <a href="mailto:{{site.contact.email}}" id="email">{{site.contact.email}}</span></a>
        <span class="listing">Twitter <a href="https://twitter.com/{{site.contact.twitter}}" id="twitter">{{site.contact.twitter}}</span></a>
      </div>
      <div id="adress-data" class="large-6 small-6 columns listing">
        <a href="https://www.google.com/maps/place/Heer+Bokelweg+155,+3032+AD+Rotterdam,+Nederland/@51.9282935,4.4802461,17z/data=!3m1!4b1!4m2!3m1!1s0x47c43357cbb2cddd:0xc49edf6522625776" target="_blank">
          <span id="company-name" class="listing">Vita.io B.V.</span>
          <span id="streetname" class="listing">{{site.contact.address}}</span>
          <span id="zipcode" class="listing">{{site.contact.zipcode}} <span id="city">{{site.contact.city}}</span></span>
          <span id="country" class="listing">{{site.contact.country}}</span>
        </a>
      </div>
    </section>
  </div>
</footer>

<script src="js/app.min.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-25475331-5', 'auto');
ga('send', 'pageview');
</script>
