<li class="vacancy-item medium-12 small-11" id="{{page.section-id}}">
  <article class="vacancy">
    <input id="vacancy-{{page.order}}" name="vacancy" type="radio" class="accordeon-btn">
    <header>
      <label for="vacancy-{{page.order}}">
        <h3 class="vacancy-head header" itemprop="title">
          <span class="title">{{page.title}}</span>
          <div class="arrow">{% include svg/accordeon-arrow.svg %}</div>
        </h3>
      </label>
    </header>

    <section class="vacancy-content content medium-10 small-12 medium-offset-1" itemprop="description">
      {{ page.content }}
      <span class="vacancy-contact">Interested? Please send Robert an email via <a href="mailto:{{site.vacancyEmail}}" class="button small highlight">{{site.vacancyEmail}}</a></span>
    </section>
  </article>
</li>